[submodule "themes/hugo_theme_pickles"]
	path = themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
[submodule "public"]
	path = public
	url = git@github.com:leandrorosa/leandrorosa.github.io.git
	branch = master
[submodule "themes/basics"]
	path = themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
